/* Wildcard asterisk selector to override browser defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
}

/* Header */

header {
    background-color: lightcoral;
}

/* Main content*/

main {
    background-color: lightblue;
    flex: 1 0 auto;
    /* Make main element take up space to push the footer down */
}

/* Footer */

footer {
    background-color: orange;
}